.header{
  display:flex;
  justify-content: space-between;
  height:100px;
  margin:10px;
  padding:10px;
  border:1px solid black;
}
.logo1 > img{
  width:150px;
  height:110px;
}
.nav-details > ul{
  display:flex;
  font-size:24px;
  margin:10px;
  padding:10px;
  list-style:none;
}
.nav-details > ul > li{
  display: flex;
  justify-content: center;
  margin:10px;
  padding:10px;
}
.res-container{
  margin:5px;
  padding:5px;
  display:flex;
  flex-wrap:wrap;
}
.res-card {
  background-color: #f0f0f0;
  margin:5px;
  padding:5px;
  width:250px;
  height:400px;
  font-size:14px;
  border:1px solid black;
}
.res-card:hover{
  cursor:pointer;
  border:2px solid black;
}
.res-image{
  width:200px;
  height:200px;
}
.loginbtn{
  width:50px;
  height:50px;
}
.filter{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin:10px;
}
.Search{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
.img-logo>img{
  width:250px;
  height:200px;
}

